@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    line-height: 1.5;
    font-family: 'Caveat', cursive;
}

main {
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

main > h1 {
    text-align: center;
    color: #e4c439;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

/* Style for Search Bar */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search-input {
    width: 60%;
    padding: 4px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #e4c439;
    border-radius: 8px;
    background-color:#444;
    color: white;
}

.submit-input {
    background-color: #e4c439;
    padding: 4px 10px;
    margin: 8px 0;
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.card {
    width: 12rem auto;
    background: #444;
    color: #e4c439;
    padding: 1rem;
    border-radius: 10px;
    border-top: 0.5px solid #cebf7b;
    border-bottom: 0.5px solid #cebf7b;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.card--id {
    background: #cebf7b;
    width: 3rem;
    color: #333;
    padding: 0.1rem;
    font-weight: 700;
    position: absolute;
    border-radius: 0 0 10px 0;
    top: 0;
    left: 0;
}

.return {
    background: #cebf7b;
    width: 4rem;
    color: #333;
    padding: 0.1rem;
    font-weight: 700;
    position: absolute;
    border-radius: 0 10px 0;
    top: 0;
    right: 0;
}

.card--name {
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.card--image {
    width: 150px;
    display: inline-block;
    margin: auto;
}

.card--details {
    font-size: 1.3rem;
    color: #dbca80;
}

.container {
    display: flex;
    text-align: left;
}

.left--half {
    flex: 1;
    padding: 1rem;
}

.right--half {
    flex: 1;
    padding: 1rem;
}
.entry--details {
    font-size: 1.3rem;
    color: #dbca80;
}